<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/828286173700816947/976693328487792651/3_20220519125016.png">
</head>
<body>
    <header>
        <h1><a href="/北館">混雑情報.com</a></h1>
        <a href="北館"><div>北館</div></a>
        <a href="南館"><div>南館</div></a>
        <a href="三号館"><div>三号館</div></a>
    </header>
    {% block content %}
    <!-- main -->
    {% endblock %}
</body>
</html>